<div class="container my-5">
  <h1 class="text-center fs-1">Who Am I ?</h1>

  <p class="fs-5">
    Hello, my name is Melik Kutlay Atilla and I am studying Computer Engineering at Süleyman Demirel University.I am a person who wants to live my life to the fullest, so I try to try everything.That's why I took an active role in many clubs during my studies.These are respectively underwater scuba diving club, motor club, camping club and American football team.Since sports have a different place in my life, I paid more attention to American football. My American football team, which I captained, also won the 2nd place in Turkey and brought cups and medals to our university.Apart from that, I had the opportunity to develop myself abroad by going to the Erasmus student exchange program and I made many friends by traveling to many countries.Apart from these, I am interested in cyber security, so I am developing myself in this regard.If you want to take a look at my experiences, you can follow my instagram account in the attachment.</p>

  <div class="row mb-4">
    <div class="col-md-4 mb-3">
      <img src="assets/images/final-prize.jpg" alt="American Football" class="img-fluid" />
      <p class="text-center fs-5">Final cup</p>
    </div>

    <div class="col-md-4 mb-3">
      <img src="assets/images/Paris.jpg" alt="Erasmus Trip" class="img-fluid" />
      <p class="text-center fs-5">My Erasmus Trip</p>
    </div>

    <div class="col-md-3 mb-3">
      <img src="assets/images/water.jpg" alt="water" class="img-fluid" />
      <p class="text-center fs-5">scuba diving</p>
    </div>

    <p>Also there is my favorite song :D</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/TJAfLE39ZZ8?si=eRmYPd65rnyyvCRG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

